<div class="parallax-container">
  <div class="parallax"><img src="http://sev.h-cdn.co/assets/cm/15/09/980x651/54ee962c96e8c_-_sev-group-date-de.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header lobster-font">About Double Date</h2>
    <p class="grey-text text-darken-3 lighten-3">Double Date is the mind child of Danny Glover and Karson Hatch. Born out of past experience of only having single friends when dating, they decided to make a place where couples can find like-minded people with similar interests to go on fun dates.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/13204_10206157583768134_3270051478580878270_n.jpg?oh=1869431d4336a63b8d4c815b0fc99fae&oe=57BB5EDA"></div>
</div>
  <div class="section white">
    <div class="row container">
      <h2 class="header lobster-font">About the Writers</h2>
      <p class="grey-text text-darken-3 lighten-3">Danny and Karson have known each other for three years and they met through their local LDS singles ward and have been wreaking havoc ever since.</p>
      <div class="row center">
        <img src="https://imgur.com/i2sY6Zd.jpg" class="user">  <img src="http://i.imgur.com/GwHI8MR.jpg?1" class="user">
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://imgur.com/Vq3Kc0L.jpg" height="900"></div>
  </div>
  <div class="section light-blue lighten-5">
    <div class="row container">
      <h2 class="header text-left lobster-font">Danny Glover</h2>
      <p class="grey-text text-darken-3 lighten-3">Daniel Stephen Glover I (there's no II or III yet) was born and raised in the Livermore, California in the San Francisco Bay Area. As a lifeguard, swim instructor, customer service guy, cloud storage solution consultant, SEO consultant, forklift operator, university student, and Vivint Technician... (whew, that was a long list)... I knew there was something more. So now I develop for the web with Karson Hatch and we're killing it. I love Mariane Sorensen, jazz piano, and motorcycles.</p>
    <div>
      <a href="https://www.facebook.com/glovemasterflex"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/danieltheglover"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://github.com/glovemasterflex"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://scontent-sjc2-1.xx.fbcdn.net/t31.0-8/10575350_10204347294272028_4690851976582033820_o.jpg"></div>
  </div>
  <div class="section light-blue lighten-5">
    <div class="row container">
      <h2 class="header text-left lobster-font">Karson Hatch</h2>
      <p class="grey-text text-darken-3 lighten-3">Karson was born in Japan and grew up in Southern Arizona in the military town of Yuma right on the border of Mexico and California. There he gained a profound appreciation of motorcycles, the desert and (subsequently) water.</p>
      <div>
        <a href="https://www.facebook.com/the.man.from.japan"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/karsonhatch"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/karsonhatch"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://stratweb.ca/wp-content/uploads/2014/11/stacks.jpg"></div>
  </div>
  <div class="section white">
  	<div class="row container">
    	<h2 class="header text-left lobster-font">Development Stack</h2>
    	<h4 class="grey-text text-darken-3 lighten-3">Gems Used</h4>
    	<p>materialize-sass | devise | puma | rails_12factor | react-rails | omniauth-facebook | sprockets | sprockets-es6 | pry-byebug | byebug | pry | better_errors | rspec-rails | mailboxer</p>
      <h4 class="grey-text text-darken-3 lighten-3">Technologies Used</h4>
    	<img src="http://thenationalcampaign.org/sites/all/themes/tnc/images/global-icons/icon-facebook-light.png" height="60px" width="60px " padding="10px"><img src="https://achievement-images.teamtreehouse.com/badges_SimpleFacebook_Stage1.png" height="60px" width="60px " padding="10px"><img src="https://www.levelupdevelopment.com/wp-content/uploads/2015/06/react-opti.png" height="60px" width="160px " padding="10px"><img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" height="60px" width="60px " padding="10px"><img src="http://bradsknutson.com/wp-content/themes/bradsknutson/images/css3.png" height="60px" width="45px " padding="10px"><img src="http://inquidia.com/sites/default/files/postgresql_logo%5B1%5D.png" height="60px" width="160px " padding="10px"><img src="http://javapatil.com/img/logos/ajax.png" height="60px" width="60px " padding="10px"><img src="http://vignette3.wikia.nocookie.net/howtoprogram/images/9/93/JQuery.png/revision/latest?cb=20130423012006" height="60px" width="60px " padding="10px"><img src="https://www.codementor.io/assets/tutorial_icon/javascript.png" height="60px" width="60px">
 	 </div>
	</div>