<div class="parallax-container">
    <div class="parallax"><img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/13204_10206157583768134_3270051478580878270_n.jpg?oh=1869431d4336a63b8d4c815b0fc99fae&oe=57BB5EDA"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header lobster-font">About the Writers</h2>
      <p class="grey-text text-darken-3 lighten-3">Danny and Karson have known each other for three years and they met through their local singles ward and have been wreaking havoc ever since.</p>
      <div class="row center">
      	<img src="https://imgur.com/i2sY6Zd.jpg" class="user">  <img src="http://i.imgur.com/GwHI8MR.jpg?1" class="user">
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://imgur.com/Vq3Kc0L.jpg" height="900"></div>
  </div>
  <div class="section light-blue lighten-5">
    <div class="row container">
      <h2 class="header text-left lobster-font">Danny Glover</h2>
      <p class="grey-text text-darken-3 lighten-3">Danny and Karson have known each other for three years and they met through their local singles ward and have been wreaking havoc ever since.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://scontent-sjc2-1.xx.fbcdn.net/t31.0-8/10575350_10204347294272028_4690851976582033820_o.jpg"></div>
  </div>
  <div class="section light-blue lighten-5">
    <div class="row container">
      <h2 class="header text-left lobster-font">Karson Hatch</h2>
      <p class="grey-text text-darken-3 lighten-3">Karson was born in Japan and grew up in Southern Arizona in the military town of Yuma right on the border of Mexico and California. There he gained a profound appreciation of motorcycles, the desert and (subsequently) water.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://stratweb.ca/wp-content/uploads/2014/11/stacks.jpg"></div>
  </div>
  <div class="section white">
  	<div class="row container">
    	<h2 class="header text-left lobster-font">Development Stack</h2>
    	<h4 class="grey-text text-darken-3 lighten-3">Gems Used</h4>
    	<p>materialize-sass | devise | puma | rails_12factor | react-rails | omniauth-facebook | sprockets | sprockets-es6 | pry-byebug | byebug | pry | better_errors | rspec-rails | mailboxer</p>
    	<img src="http://thenationalcampaign.org/sites/all/themes/tnc/images/global-icons/icon-facebook-light.png"><img src="https://achievement-images.teamtreehouse.com/badges_SimpleFacebook_Stage1.png"><img src="https://www.levelupdevelopment.com/wp-content/uploads/2015/06/react-opti.png"><img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png"><img src="https://dimbal.biz/dimbal/images/css-icon.png"><img src="http://inquidia.com/sites/default/files/postgresql_logo%5B1%5D.png"><img src="http://javapatil.com/img/logos/ajax.png"><img src="http://vignette3.wikia.nocookie.net/howtoprogram/images/9/93/JQuery.png/revision/latest?cb=20130423012006"><img src="https://www.codementor.io/assets/tutorial_icon/javascript.png">
 	 </div>
	</div>