<div class="main-background">
<% if current_user.profile %>
	 <h1>Welcome! -- add date -- find friends -- shite n'stuff</h1>
<% else %>
	<h1>Hey there!</h1>
	<h3>Welcom to Double Date!</h3>
	<h4>First things first, lets get your profile set up.</h4>
	<%= link_to 'Set Up', new_user_profile_path(:user_id), class:"btn green" %>
<% end %>
</div>