@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";
@import "home";
@import "users";
@import "font-awesome";
.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user-nav {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user-side-nav {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

