.main-background {
	background-color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
  flex: 1 0 auto;
}
.lobster-font, h1 {
    font-family: 'Pacifico';
  }

#footer-fixed {
	margin: 0; 
	padding-bottom: 0;
	margin-top: 0;
}